 @{
    var actionName= ViewContext.RouteData.Values["Action"]!.ToString();
}
 
 
 <!--================Home Banner Area =================-->
        <section class="banner_area">
            <div class="banner_inner d-flex align-items-center">
				<div class="container">
					<div class="banner_content">
						<h2>@(ViewData["Subtitle"]==null? ViewData["Title"]:"")</h2>
						<div class="page_link">
							<a href="/">ana dayfa</a>


                          @if (ViewData["Subtitle"]==null)
						  {
							<a >@(ViewData["Title"])</a>
						  } else
						  {
							<a href='@actionName=="BlogDetail"?"/Blog" :"")'>@ViewData["Title"]</a>
							<a >@ViewData["Subtitle"]</a>
						  }

							<a href="/about-us">@ViewData["Title"]</a>
						</div>
					</div>
				</div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->
